<div class="container">

<h1>ReadMyFeelings</h1>

<h2> How are you feeling today? </h2>

<form id="search" action="/search" method="post">
	<input type="text" name="query">
	<input type="submit" name="Search">
</form>

<div id="result_container"></div>

</div>